<div class="container">
  <div class="page-title">Find New Event</div>
  <!--<div style="width: 700px; padding-bottom:5px;">-->
  <!--  <%#= link_to "New Event" ,new_event_path, class: "btn btn-primary btn-sm pull-right",style:"margin-bottom:5px;" %>-->
  <!--</div>-->
  
    <div id="event_map" style="width: 700px; height: 400px;"></div>
    
    <% unless @events.empty? %>
    <table class="table-striped" width="700px">
    <tr>
      <th>Actions</th>
      <th>Subject</th>
      <th>Venue</th>
      <th>Price</th>
    </tr>
      <% @events.each do |e| %>
        <tr class="event" lat="<%= e.latitude %>" lng="<%= e.longitude %>" id="event_<%= e.id %>">
          <td>
            <% if current_user.is_event_owner?(e.id) %>
              <%= link_to 'Edit', edit_event_path(e)%>
              <%= link_to "Del", event_path(e), method: :delete, data: { confirm: "Are you sure?" }  %>
            <% end %>
          </td>
          <div  >
            <td><%= link_to e.subject, e %> </td>
            <td><%=e.venue%></td>
          </div>
          <td>
            <%= number_to_currency(e.event_price/100)%>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
      No events
    <% end %>
    
    <%= render "shared/map"%>
</div>  
  

