<div class="page-title">subject: <%= @event.subject %></div>

<div class='row'>
  <div class='col-md-6 border'>
    
    <div class='contents'>
      description: <%= @event.description %><br>
      event_date: <%= @event.event_date %><br>
      event_price: <%= number_to_currency(@event.event_price / 100) %><br>
      venue: <%= @event.venue %><br>
    </div>
    <%= link_to 'Back', root_path,class: "btn btn-light" %>
    
    <% if current_user.is_event_owner?(@event.id) %>
      <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default btn-info" %>
      <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure?"},class: 'btn btn-default btn-danger float-right' %>
    <% else %>
      <% if attend = current_user.has_attended?(@event.id) %>
        <%= link_to "Download invoice", attend_path(attend, format: :pdf),class: "btn btn-default btn-warning"%>
      <% else %>
        <%= link_to 'Attend', new_event_attend_path(@event), class: "btn btn-default btn-info" %>
      <% end %>
    <% end %>
    
  </div>
</div>