<div class="page-title">My Attended Events</div>
  <div id="event_map" style="width: 700px; height: 400px;"></div>

  
  <% unless @events.empty? %>
  <table class="table-striped">
  <tr>
    <th>Actions</th>
    <th>Subject</th>
    <th>Venue</th>
  </tr>
    <% @events.each do |e| %>
      <tr class="event" lat="<%= e.latitude %>" lng="<%= e.longitude %>" id="event_<%= e.id %>">
        <td>
          <%= link_to 'Edit', edit_event_path(e)%>
          <%= link_to "Del", event_path(e), method: :delete, data: { confirm: "Are you sure?" }  %>
        </td>
        <div  >
          <td><%= link_to e.subject, e %> </td>
          <td><%=e.venue%></td>
        </div>
      </tr>
    <% end %>
  </table>
  <% else %>
    No events
  <% end %>
  
  <%= render "shared/map"%>